<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <a href="/customers"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
      <a href="/customers/tickets/new"><i class="fa fa-fw fa-plus"></i> Make a Ticket</a>
    </li>
    <li>
      <a href="/customers/tickets"><i class="fa fa-fw fa-ticket"></i> My Tickets</a>
    </li>
  </ul>
</div>