<form class="well form-horizontal" id="contact_form">
  <fieldset>
    <!-- Form Name -->
    <legend><center><h2><b>Rails 5 Customer Ticketing System</b></h2></center></legend><br>
  </fieldset>
</form>